/* Toolbar */
.toolbar{
    height: 50px;
}
.menu-btn{
    height: 38px;
    font-size: 18px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.help-btn{
    height: 38px;
    font-size: 18px;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
}

/* Sidebar */
#sidebar-wrapper{
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
    opacity: 0.9;
}

/* Main content */
#page-content-wrapper{
    width: 100%;
    position:absolute;
}

/* Sidebar displayed */
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;
}
#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav{
    padding-top: 60px;
    padding-left: 0px;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 15px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav li a:hover{
    background: #0073e6;
}
.sidebar-nav li a span{
    display: inline-block;
    position: relative;
    font-size: 18px;
}

/* Page content 'voedingsadvies' styling */
body{
    position: relative;
    margin: 0;
}
#page-content-nav{
    top: 50px;
    position: fixed;
    background-color: #ffddb3;
    font-size: 18px;
}
.big-checkbox{
    width:30px;
    height:30px;
}

/* Extra dietary options slider */
#slider {
    bottom: 0px;
    position: fixed;
    height: 120px;
    background-color: #ffddb3;
    overflow: hidden;
}
.slider-uitleg{
    height: 30px;
    border-top: solid;
    border-top-color: #2C3E50;
    border-bottom: solid;
    border-bottom-color: #2C3E50;
}
.sliderWrap {
    background-color: #ffddb3;
    height: 90px;
    white-space: nowrap;
}
.card-btn{
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 90px;
}
.badge.position{
    display: block;
    position: relative;    
}

/* Navigation buttons extra dietary options slider */
.owl-prev, .owl-next {    
    width: 30px;
    height: 30px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-prev {
    left: 0px;
}
.owl-next {
    right: 0px;
}



